html {
  height: 100%;
}
body {
  background: lightslategray;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.title {
  color: white;
  text-shadow: 2px 2px #666666;
}

.breathButton {
  width: 100%;
  height: 150px;
}

.counterCard {
  height: 100%;
}